/*****Bootstrap_Media_Queries*****/
@media (max-width:1300px) {
	.container { max-width:90%; }
}
@media (max-width:1240px) {
	.container { max-width:100%; }
	.nav-link { font-size:20px; padding:0 25px !important; }
	.head_button a.btn_hb_text { font-size:20px; padding:6px 25px; }
	.head_button a.btn_hb_search { font-size:20px; }
	.main_bg { padding:200px 0 0 0; }
	.hp_main_text h2 { font-size:50px; margin:0 0 15px 0; }
	.hp_main_text h3 { font-size:30px; margin:0 0 15px 0; }
	.main_box h3 { font-size:24px; }
	.main_box p { font-size:16px; line-height:30px; }
}
@media (max-width:1024px) {
	.hp_main_text h2 { font-size:46px; }
	.hp_main_buttons a { font-size:18px; margin-right:10px; }
	.common_title h2 { font-size:34px; line-height:40px; }
	.event_common_tab h4 { font-size:22px; }
	.event_ct_bottom label { font-size:18px; }
	.event_ct_bottom span.ct_price { font-size:18px; }
	.video_section_text h3 { font-size:32px; }
	.video_section_text p { font-size:18px; }
	.event_button a { padding:12px 25px; }
	.footer_tab h3 { font-size:24px; font-weight:600; }
	.footer_tab h3::after { width:50px; height:4px; } 
	.footer_tab ul li a { font-size:18px;}
	.event_ct_date { width:80px; height:80px; padding:22px 0;}
	.event_ct_date .ct_one { font-size:16px; line-height:16px; }
	.event_ct_date .ct_two { font-size:15px; }
	.event_common_tab p { font-size:18px; }
}
@media (max-width:991px) {
	.navbar { padding:2px 0; }
	.navbar-expand-lg>.container { padding-left:15px; padding-right:15px; }
	.navbar .navbar-brand img.logo_white { display:none; }
	.navbar .navbar-brand img.logo_black { display:block; } 
	.navbar, .navbar.active { background-color:rgba(255, 255, 255, 1); box-shadow:0 0 20px 1px rgba(0,0,0,0.09); }
	.nav-item.active a { color:#000 !important; }
	.nav-item { border-top:1px solid #DDD; padding:8px 0; }
	.nav-tabs .nav-item { border-top:0; padding:0; }
	.nav-link { color:#000 !important; font-size:18px; padding:5px 15px !important; }
	.web_main_bg { margin-top:0; }
	.web_find_events_bg { margin-top:0; }
	.web_login_bg { margin-top:0; }
	.main_bg { padding:120px 0 0 0; }
	.login_register_box { padding-top:120px; }
	.head_button { margin-left:0; }
	.hp_main_text h2 { font-size:40px; }
	.hp_main_text h3 { font-size:26px;}
	.web_main_box { margin:-210px 0 0 0; }
	.main_box { padding:20px 10px ;min-height:360px;}
	.main_box h3 { font-size:20px; }
	.main_box p { font-size:16px; line-height:28px; margin:0; }
	.web_footer { padding:40px 0; }
	.footer_tab h3 { font-size:22px; margin-top:30px; }
}
@media (max-width:767px){
	.web_main_bg { height:auto;}
	.main_bg { padding:70px 0 0 0; }
	.hp_main_bottom { margin-top:0; }
	.hp_main_bottom img { height:140px; }
	.hp_main_nav ul li img { width:40px; }
	span.hp_line { font-size:13px; padding:1px 15px; top:4px;left:-58px;	 }
	.hp_main_nav::after { margin-left:18px; height:155px; }
	.hp_main_buttons a { display:block; margin:10px 0; }
	.web_main_box { margin:40px 0 0; }
	.main_box { padding:20px 10px; min-height:auto; margin:0 0 15px 0; }
	
	.hp_main_search { width:90%; }
	.navbar-brand { margin-right:0; }
	.login_register_box .nav-tabs .nav-link { padding:12px 20px !important; }
}
@media (max-width:600px) {
	.web_find_events_bg { height:540px; }
	.head_button a.btn_hb_text { font-size:14px; padding:6px 18px; }
	.head_button a.btn_hb_search { font-size:16px; padding:10px 0; margin:0 10px; display:inline-block; }
	.hp_main_nav { display:none; }
	.form-inline-desktop { display:none; }
	.web_featured_events { padding:50px 0 0 0; }

	.common_title h2 { font-size:30px; line-height:32px; }
	.common_title p { font-size:16px; line-height:28px; }
	.event_common_tab p { font-size:16px; line-height:28px; }
	.video_section_text h3 { font-size:28px; }
	.video_section_text p { font-size:16px; }
	.video_section_button { margin:0; }
	.video_section_button a { padding:10px 20px; }
	.video_section_button span { font-size:18px; }

	.hp_main_search { width: 100%; padding:10px 15px; }
	.hp_main_search input[type="text"] { width:70%; }
	.hp_main_search input[type="submit"] { width:28%; }
	.navbar-toggler { padding:2px 4px; }
	.footer_tab h3 { margin-top:10px; }
	.footer_tab ul li { margin:4px 0; }

	.login_register_box { padding-top:70px; }
	.register_bg { padding:25px 15px; }
	
	.top_bar_right { text-align:center; }
	.top_bar_right ul li { border-right:1px solid #FFF; line-height:12px; }
	.top_bar_right ul li a { font-size:14px; padding:0 6px; }
}
@media (max-width:480px) {
}
@media (max-width:320px) {
}
/*****Bootstrap_Media_Queries*****/