/*****Bootstrap_Media_Queries*****/
@media (max-width:1400px) {
	.hp_main_text h2 { font-size:46px;}
	.hp_main_text h3 { font-size:30px;}
	.ver_title h3 { margin:0; font-size:30px; }
	.ver_title ul { margin:0; }
	.event_register_tab { margin:8px 0; }
	.event_register_tab input[type="text"] { height:38px;}
	.event_register_tab textarea { height:70px;}
	.event_register_button a { width:190px; padding:8px 15px; font-size:18px; }
}
@media (max-width:1300px) {
	.container { max-width:98%; }
	.evc_chat_box { height:350px; }
	.common_title p { margin:5px 0; }
	.video_section_button a { padding:10px 15px; }
	.video_section_button span { font-size:16px; }
	.event_ct_date { width:80px; height:80px;  margin-top:-60px; padding:15px 0; }
	.event_ct_date .ct_one { font-size:16px; line-height:24px; }
	.event_ct_date .ct_one { font-size:16px; line-height:24px; }
	.event_common_tab { margin:15px 0; }
	.event_common_tab h4 { margin:10px 20px; }
	.event_common_tab p { font-size:16px; line-height:28px; margin-bottom:5px; }
	.event_common_tab a.event_ct_btn { font-size:14px; padding:0 15px; }
	.event_ct_bottom { margin:6px 20px; padding:5px 0; }
	.hp_artist_landing_buttons ul li { margin-right:12px; }
	.hp_artist_landing_buttons ul li a { font-size:18px; padding:6px 15px; }
	
	.ver_title h3 { margin:0 15%;}
}
@media (max-width:1240px) {
	.container { max-width:100%; }
	.nav-link { font-size:20px; padding:0 25px !important; }
	.head_button li a.btn_hb_text { font-size:20px; }
	.head_button li a.btn_hb_search { font-size:20px; }
	.hp_main_text h2 { font-size:50px; margin:0 0 15px 0; }
	.hp_main_text h3 { font-size:30px; margin:0 0 15px 0; }
	.main_box h3 { font-size:24px; }
	.main_box p { font-size:16px; line-height:30px; }
	
	.hp_artist_landing_info h2 { font-size:30px; }
	.hp_artist_landing_btn a { font-size:15px; margin-right:10px; }
	.hp_artist_li_desktop { margin:90px 0 10px 0; }
}
@media (max-width:1024px) {
	.hp_main_text h2 { font-size:46px; }
	.hp_main_buttons a { font-size:18px; margin:10px 5px; }
	.common_title h2 { font-size:24px; line-height:30px; }
	.event_common_tab h4 { font-size:22px; }
	.event_ct_bottom label { font-size:18px; }
	.event_ct_bottom span.ct_price { font-size:18px; }
	.video_section_text h3 { font-size:32px; }
	.video_section_text p { font-size:18px; }
	.footer_tab h3 { font-size:24px; font-weight:600; }
	.footer_tab h3::after { width:50px; height:4px; margin-top:5px; } 
	.footer_tab ul li a { font-size:18px;}
	.event_ct_date { width:80px; height:80px; padding:22px 0;}
	.event_ct_date .ct_one { font-size:16px; line-height:16px; }
	.event_ct_date .ct_two { font-size:15px; }
	.event_common_tab p { font-size:18px; }

	.artist_landing_bg { margin-top:-400px; }
	
	.hp_artist_landing_info a.alp_tag { font-size:18px; font-weight:600; padding:10px 15px; }
	.hp_al_get_tickets a.alp_tag { font-size:18px; font-weight:600; padding:10px 15px; }
	.hp_al_get_tickets a.alp_red_tag { font-size:18px; font-weight:600; padding:10px 15px; }
	
	.hp_artist_landing_info a.alp_country_tag { font-size:15px; font-weight:600; margin:15px 0; }
	.hp_artist_landing_info a.alp_red_country_tag { font-size:15px; font-weight:600; margin:15px 0; }
	
	.hp_artist_landing_info h2 { font-size:28px; }
	.hp_artist_landing_info p { font-size:18px; }
	.hp_al_social_btn { margin:10px 0; }
	.hp_artist_landing_btn { display:block;}
	.hp_artist_landing_social { display:block; margin:10px 0 0 0; }
	
	.evc_chat { padding:0 15px; margin-top:20px; }
	.evc_chat_box { height:250px; }
	.evc_send input[type="text"] { font-size:14px; }
	.evc_send a { float:right; width:30px; height:30px; font-size:14px; padding:0; margin:10px 10px 0 0; }
}
@media (max-width:991px) {
	.web_featured_events { padding:30px 0; }
	.web_featured_events_home { padding:30px 0; }
	
	.navbar { padding:2px 0; }
	.navbar-expand-lg>.container { padding-left:15px; padding-right:15px; }
	.navbar .navbar-brand img.logo_white { display:none; }
	.navbar .navbar-brand img.logo_black { display:block; } 
	.navbar, .navbar.active { background-color:rgba(255, 255, 255, 1); box-shadow:0 0 20px 1px rgba(0,0,0,0.09); }
	.nav-item.active a { color:#000 !important; }
	.navbar .nav-item { padding:8px 0; border-top:1px solid #DDD; }
	.nav-tabs .nav-item { border-top:0; padding:0; }
	.nav-link { color:#000 !important; font-size:18px; padding:5px 15px !important; }
	.web_login_bg { margin-top:0; height:610px; }
	.main_bg { padding:70px 0 0; }
	.book_your_show_bg { padding:70px 0 0; }
	.lrb { padding-top:120px; }
	.login_register_top_box { width:100%; margin:120px auto 15px; }
	.head_button { margin-left:0; }
	.hp_main_text h2 { font-size:40px; }
	.hp_main_text h3 { font-size:26px;}
	.web_main_box { margin:-320px 0 0 0; }
	.main_box { padding:20px 10px ;min-height:360px;}
	.main_box h3 { font-size:20px; }
	.main_box p { font-size:16px; line-height:28px; margin:0; }
	.web_footer { padding:40px 0; }
	.footer_logo { margin-bottom:10px; }
	.footer_tab h3 { font-size:22px; margin-top:15px; margin-bottom:25px; }
	.footer_tab ul li { margin:6px 0; }
	.footer_tab ul li a { padding:0;}
	.socialsquared img { margin:0 auto; }
	.copyright { text-align:center; }
	.copyright p { margin:15px 0 0; line-height:20px; }
	.hp_alp_box { height:350px; }
	
	.hp_artist_landing_info { margin-top:20px; }
	.hp_artist_landing_info h2 { color:#000; }
	.hp_artist_landing_info p { color:#000; }
	.hp_artist_landing_btn a { background:rgb(25 25 25); }
	.hp_artist_landing_social ul li a { background:rgb(25 25 25); }
	.hp_artist_li_desktop { display:none; }
	.hp_artist_li_mobile { display:block; margin:20px 0 0 0; }
	.hp_artist_li_mobile ul { margin:0; }
	.hp_artist_li_mobile li { list-style:none; display:inline-block; margin-right:15px; }
	.hp_artist_li_mobile li img { height:40px; }
	.hp_al_bio { margin-top:15px; }
	.hp_artist_landing_social { margin:15px 0; }
	.hp_al_upcoming_event { margin-top:15px; }
	.modal-lg { max-width:94%; }
	.hp_artist_profile_plus span { font-size:16px; }
	.hp_artist_profile_plus img { width:50px; min-height:50px; }
	.hp_artist_landing_buttons { margin-top:40px; }
	.hp_artist_landing_info h3 { color:#000; }
	.hp_al_streaming_now span { color:#000; }
	.hp_al_date_time i { font-size:18px; color:#000; }
	.hp_al_date_time span { font-size:16px; color:#000; }
	.web_thank_you_bg { height:auto; margin-top:0; padding:40px 0; }
	.thank_you_bg { display:block; height:auto; }
	.on_mobile { display:block; } 
	
	.togglesearch { width:90%; right:auto; }
	.togglesearch:before { left:28px; right:auto; }
	.head_button li a.btn_hb_search { color:#000; }
	
	.web_find_events_bg { margin-top:0; height:600px; }
	.find_events_bg { height:600px; }
	/*.find_events_bg { display:block; height:auto; }*/
	
	.web_main_bg { margin-top:0; padding:40px 0; }
	.web_book_your_show_bg { margin-top:0; padding:40px 0; height:auto; }
	.main_bg { display:block; height:auto; }
	.book_your_show_bg { display:block; height:auto; }
	.nav_button { font-size:18px; color:#fff !important; font-weight:700; text-transform:capitalize; text-align:center; padding:6px 25px; border-radius:50px; display:block; background:linear-gradient(90deg,#139cef,#00d1ff); }
	.nav_button:hover { background:linear-gradient(90deg,#00d1ff,#139cef); }
	.video_section_button { text-align:center; }
	
	.hp_al_get_tickets { padding:20px 20px; }
	
	
}
@media (min-width:992px){
.navbar-toggle { display:none; }
}
@media (max-width:767px){
	.main_bg { padding:15px 0 0 0; }
	.book_your_show_bg { padding:15px 0 0 0; }
	.hp_main_bottom { margin-top:0; }
	span.hp_line { font-size:13px; }
	.hp_main_nav::after { margin-left:18px; height:155px; }
	.hp_main_buttons { margin-top:15px; }
	.hp_main_buttons a { display:table; margin:10px 0; }
	.main_box { padding:20px 10px; min-height:auto; margin:0 0 15px 0; }
	.hp_main_search { width:90%; }
	.navbar-brand { margin-right:0; }
	.login_register_box .nav-tabs .nav-link { padding:12px 20px !important; }
	.hp_main_text h2 { font-size:34px; }
	.hp_main_text h3 { font-size:22px; }
	.video_section_button { margin:0 auto; }
	.event_common_tab img { height:auto; }
	.web_artist_landing_bg { height:300px; }
	.artist_landing_bg { margin-top:-100px; }
	.al_ue_button { display:block; text-align:center; }
	
	.spacer { padding:0; }

	.web_our_process { padding:50px 0 0 0; }
	.virtual_event_register { padding:20px 15px; margin:0 0 15px 0; }

	.our_process { width:100%; margin:0 auto; }
	.our_process_tab { margin:15px 0; }
	.our_process_tab span.number { display:none; }
	.our_pt_img { display:block; width:100%; }
	.our_pt_img img { height:50px; margin:0 auto; }
	.our_pt_text { display:block; width:100%; text-align:center; }
	.our_pt_text h4 { font-size:22px; margin:10px 0 5px; }
	.web_faq { padding:30px 0; }
	.faq_accordion .card { margin:15px 0; }
	.faq_accordion .faq_accordion_link { font-size:18px; }
	.web_get_in_touch { padding:30px 0; }
	.get_in_touch { padding:30px 15px; margin-right:0; }
	.get_in_touch h3 { font-size:30px; margin-bottom:10px; }
	.get_in_touch_tab { margin:15px 0; }
	.git_contect h2 { font-size:34px; margin-bottom:10px; }
	
	.hp_main_text p { font-size:18px; margin:10px 0; }
	.ver_title ul { margin:0; }
	.ver_title ul li { margin:0; }
	.ver_title ul li a { font-size:14px; }
	.ver_title ul li img { width:14px; }
	.event_register_tab { margin:8px 0; }
	.event_register_tab input[type="text"] { height:46px; }
	.hp_main_buttons { margin-top:15px; margin-bottom:15px; }
	.ver_title h3 { font-size:30px; }
	.web_main_box { padding:40px 0; }
	.web_event_page_scroll { padding:0; margin:-100px 0 30px 0; }
	.hp_main_bottom { display:none; }
	.evc_user_name { display:block; width:100%; }
	.evc_artist_profile { float:none; width:100%; text-align:right; }
	.hp_artist_landing_profile img { min-height:auto; }
	
	.hp_artist_landing_info a.alp_country_tag { font-size:15px; font-weight:600; margin:15px 0; }
	.hp_artist_landing_info a.alp_red_country_tag { font-size:15px; font-weight:600; margin:15px 0; }
	
	.hp_artist_landing_info a.alp_tag { font-size:16px; font-weight:600; padding:8px 15px; }
	
	.hp_al_get_tickets { padding:14px 20px; }
	.hp_al_get_tickets span { font-size:15px; }
	.hp_al_get_tickets a.alp_tag { font-size:16px; font-weight:600; padding:8px 15px; margin:10px 0 0; }
	.hp_al_get_tickets a.alp_red_tag { font-size:16px; font-weight:600; padding:8px 15px; margin:10px 0 0; }
	
	.git_contect ul li img { width:30px; }
	.git_contect ul li span { font-size:18px; }
	
	.thank_you_video { margin-top:15px; }
}

@media (max-width:600px) {
	.head_button li a.btn_hb_text { font-size:14px; padding:6px 18px; }
	.head_button li a.btn_hb_search { padding:10px 0; margin:0 10px; display:inline-block; }
	.hp_main_nav { display:none; }
	.navbar .navbar-brand img { height:80px; }
	.form-inline-desktop { display:none; }
	.web_featured_events { padding:50px 0 0 0; }

	.common_title h2 { font-size:22px; line-height:28px; }
	.common_title p { font-size:16px; line-height:28px; }
	.common_title .ct_line { width:70px; height:5px; }
	.event_common_tab p { font-size:16px; line-height:28px; }
	.video_section_text h3 { font-size:28px; }
	.video_section_text p { font-size:16px; }
	.video_section_button { margin:0; }
	.video_section_button a { padding:8px 15px; }
	.video_section_button span { font-size:16px; }
	.event_common_tab { margin:15px 0;}

	.hp_main_search { width:100%; }
	.hp_main_search input[type="text"] { width:70%; font-size:17px; font-weight:500; }
	.hp_main_search input[type="submit"] { width:28%; font-size:17px; font-weight:500; }
	.navbar-toggler { padding:2px 4px; }
	.footer_tab h3 { margin-top:10px; }
	.footer_tab ul li { margin:4px 0; }

	.lrb { padding-top:40px; }
	.login_register_top_box { width:100%; margin:40px auto 15px; }
	.register_bg { padding:25px 15px; }
	
	.top_bar_right { text-align:center; }
	.top_bar_right ul li { border-right:1px solid #FFF; line-height:12px; }
	.top_bar_right ul li a { font-size:13px; padding:0 4px; font-weight:500; }
	
	.al_upcoming_events_tab img { margin:0 auto; }
	.al_upcoming_events_tab h4 { margin:15px 0; }
	.al_upcoming_events_tab { text-align:center; }
	.hp_artist_landing_info h2 { font-size:22px; margin:0; font-weight:600; }

	.hp_artist_li_desktop ul { display:block; }
	.hp_artist_li_desktop li { display:inline-block; margin:10px 1%; width:47%; }
	
	.hp_artist_landing_buttons ul { text-align:center; }
	.hp_artist_landing_buttons ul li { margin-right:5px; }
	.hp_artist_landing_buttons ul li a { font-size:14px; padding:2px 10px; font-weight:500; }
	.evc_chat h3 { font-size:28px; margin:10px 0; }
	.ep_left_btn, .ep_right_btn, .ep_number { display:block; }
	.ep_left_btn a, .ep_right_btn a { display:inline-block; padding:2px 15px; }
	.ep_number ul li { margin:0 5px; }
	.ep_number ul li a { display:block; width:32px; height:32px; font-size:16px; padding:3px 0; }
	
	.evc_profile_details { display:none; }
	.hp_artist_landing_buttons { display:none; }
	
	.yo_bg_one { padding:0 15px; }
	.yo_bg_two { padding:0 15px; margin-left:0; background:transparent; }
	.my_ap_head { margin-top:15px; }
	.my_ap_head h2 { font-size:24px;}
	.my_ap_head p { font-size:18px;}
	.my_ap_head span.ct_line {width:70px; height:4px;}
	.my_ap_head ul li { font-size:14px; margin:0 2px; }
	.my_ap_head ul li img { width:15px; }
	.my_va_title { padding:15px 0 0px 0; }
	.mp_va_tab { margin:10px 0; }
	.mp_va_check { margin:10px 0; }
	.mp_checkout_tab label { display:block; width:100%; }
	.mp_price_tav { display:block; width:100%; text-align:left; }
	.mp_quntity { display:block; width:100%; }
	.mp_checkout_tab span.date { float:none; }
	.mp_checkout_tab { padding:10px 0; }
	.mp_va_check label { font-size:14px; }
	hr { margin-top:5px; margin-bottom:5px;}
}
/*****Bootstrap_Media_Queries*****/