*, html { margin:0; padding:0; outline:0 none; }
body { margin:0; padding:0; width:100%; font-size:16px; color:#000; line-height:30px; font-family:'Mukta', sans-serif; font-weight:400; background:#ffffff; letter-spacing:0; }
img { border:0 none; height:auto; max-width:100%; display:block; }
h1, h2, h3, h4, h5, h6 { font-family:'Mukta', sans-serif; color:#000; font-weight:800; }

a { text-decoration:none; color:#09b7f7; transition:0.5s; }
a:focus, a:hover { text-decoration:none; color:#09b7f7; transition:0.9s; }
.clear { clear:both; }

/*****Common*****/
.common_title { width:100%; text-align:center; }
.common_title h2 { font-size:40px; line-height:50px; color:#000; text-transform:uppercase; margin:0; }
.common_title h3 { font-size:28px; line-height:38px; margin:0; }
.common_title p { font-size:20px; line-height:30px; margin:15px 0; }

.common_title .ct_line { display:inline-block; width:100px; height:7px; background:linear-gradient(90deg,#139cef,#00d1ff); border-radius:30px; }

.ct_left { text-align:left; }
.ct_white.common_title h2 { color:#FFF; }

.btn_common { font-size:13px; color:#fff; letter-spacing:3px; font-weight:400; text-transform:uppercase; background:linear-gradient(90deg,#139cef,#00d1ff); padding:10px 15px; border-radius:6px; transition:0.9s;  -webkit-transition:background 2s; transition:background 2s; }
.btn_common:hover { color:#FFF; background:linear-gradient(90deg,#00d1ff,#139cef); transition:0.9s; -webkit-transition:background 0.9s; transition:background 0.9s; }

.container { max-width:86%; }
.spacer { padding:40px 15px;}
.theme_color { color:#07bff9;}
/*****Common*****/

/*****Web_Header*****/
.top_bar { background:linear-gradient(90deg,#139cef,#00d1ff); padding:6px 0; }
.top_bar_right { text-align:right; }
.top_bar_right ul { margin:0; }
.top_bar_right ul li { list-style:none; display:inline-block; border-right:2px solid #FFF; line-height:16px; }
.top_bar_right ul li a { font-size:18px; color:#FFF; padding:0 15px; font-weight:600; }
.top_bar_right ul li:last-child { border-right:0; }

.navbar { padding:10px 0; background-color:rgba(255, 255, 255, 0); }
.navbar.active { background-color:rgba(255, 255, 255, 1); box-shadow:0 0 20px 1px rgba(0,0,0,0.09); }
.navbar.active .nav-link { color:#000 !important; }
.nav-link { font-size:23px; padding:0 30px !important; font-weight:600; color:#FFF !important; }
.nav-item.active a { color:#FFF !important; }
.nav-item.active a::after { content:''; position:absolute; background:linear-gradient(90deg,#139cef,#00d1ff); width:30px; height:4px; left:auto; display:block; border-radius:15px; transition:0.9s; }
.nav-item:hover a::after { content:''; position:absolute; background:linear-gradient(90deg,#139cef,#00d1ff); width:30px; height:4px; left:auto; display:block; border-radius:15px; transition:0.9s; }
.nav-item a:hover::after { width:40px; transition:0.9s; }

.navbar-brand { padding:0; }
.navbar .navbar-brand img { height:94px; }
.navbar .navbar-brand img.logo_white { display:block; }
.navbar .navbar-brand img.logo_black { display:none; }
.navbar.active .navbar-brand img.logo_white { display:none; }
.navbar.active .navbar-brand img.logo_black { display:block; }

.navbar-toggler { padding:4px 8px;}
.navbar-light .navbar-toggler { outline:none; border-color:rgba(18,158,239,1); color:#FFF;  }
.navbar-light .navbar-toggler-icon { background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(18,158,239, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.head_button { display:inline-block; margin-left:20px;}
.head_button ul { margin:0; }
.head_button li { list-style:none; display:inline-block; vertical-align:middle; }
.head_button li a.btn_hb_text { font-size:23px; color:#fff; text-transform:capitalize; background:linear-gradient(90deg,#139cef,#00d1ff); padding:8px 35px; border-radius:50px; display:block; transition:0.9s;-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
.head_button li a.btn_hb_text:hover { background:linear-gradient(90deg,#00d1ff,#139cef); transition:9s; background-position: right center; }
.head_button li a.btn_hb_search { font-size:23px; color:#FFF; padding-left:15px; }
.active .head_button li a.btn_hb_search { color:#000; }
.head_button li a.btn_hb_profile { font-size:23px; color:#09b7f7; padding:0; border:0; box-shadow:0; text-align:center; border-radius:40px; display:block; margin-left:15px; background-color:transparent !important; outline:none !important; box-shadow:0 !important; }
.head_button li a.btn_hb_profile:hover, .head_button li a.btn_hb_profile:focus { background-color:transparent !important; outline:none; box-shadow:0 0 0 0.2rem #139cef; }
.head_button .dropdown-toggle::after { display:none; }
.head_button .dropdown-menu { left:auto; right:0; padding:0; }

.togglesearch { background:#FFF; position:absolute; top:100px; right:230px; width:370px; height:64px; box-shadow:0 0 10px rgba(0,0,0,0.5); display:none; padding:10px; }
.togglesearch:before { content:""; position:absolute; top:-28px; right:13px; border-left:12px solid transparent; border-right:12px solid transparent; border-top:14px solid transparent; border-bottom:14px solid #ffffff; }
.togglesearch input[type="text"] { width:72%; padding:6px 10px; margin-left:0; border:1px solid #dddddd; outline:none; height:44px; vertical-align:middle; display:inline-block; font-size:18px; }
.togglesearch input[type="button"] { width:26%; padding:0; background:linear-gradient(90deg,#139cef,#00d1ff); color:#fff; margin-left:0; border:0; outline:none; cursor:pointer; display:inline-block; height:44px; font-size:20px;vertical-align:middle; }
/*****Web_Header*****/

/*****Web_Main_BG*****/
.web_main_bg { width:100%; background:url(../images/homepage_slider1.jpg) no-repeat; background-size:cover; height:100vh; margin-top:-114px; }

.slider_buttons {}
.slider_buttons img { width:auto; height:auto; display:inline-block; padding-right:10px; }
.slider_buttons a { background:rgba(255,255,255,0.25); font-size:20px; color:#FFF; margin-right:15px; padding:8px 25px; display:inline-block; border-radius:50px; }
.slider_buttons a:hover { background:linear-gradient(90deg,#00d1ff,#139cef); }

.main_bg { display:flex; height:100vh; }

.hp_main_text {}
.hp_main_text h2 { font-size:56px; color:#FFF; font-weight:600; margin:0 0 0 0; }
.hp_main_text h3 { font-size:36px; color:#FFF; font-weight:400; margin:0 0 15px 0; }
.hp_main_text p { font-size:18px; color:#FFF; line-height:30px; margin:20px 0; }
 
.hp_main_buttons { margin-top:35px; }
.hp_main_buttons img { width:auto; height:auto; display:inline-block; padding-right:10px; }
.hp_main_buttons a { background:rgba(255,255,255,0.25); font-size:20px; color:#FFF; margin-right:15px; padding:5px 15px; display:inline-block; border-radius:50px; }
.hp_main_buttons a:hover { background:linear-gradient(90deg,#00d1ff,#139cef); }

.blink_homeplay { color:#48e5ff; font-weight:700; text-shadow:0 0 5px #10d6ff, 0 0 7px #48e5ff; }

.hp_main_bottom { text-align:center; margin-bottom:30px; }
.hp_main_bottom a { display:inline-block; }
.hp_main_bottom img {}

.hp_main_nav {  text-align:right; }
.hp_main_nav ul { margin:0; position:relative; z-index:99; float:right; }
.hp_main_nav ul li { list-style:none; }
.hp_main_nav ul li::after { content:''; position:relative; background:url(../images/main_nav_bg.png) no-repeat; width:2px; height:35px; display:block; margin:0 auto; }
.hp_main_nav ul li:last-child::after { display:none; }
.hp_main_nav ul li a:hover {  }

span.hp_line { position:absolute; top:-3px; left:-80px; background:rgba(3,3,3,0.3); font-size:16px; line-height:25px; color:#FFF; text-transform:capitalize; padding:0 15px; border-radius:30px; }
/*****Web_Main_BG*****/

/*****Web_Find_Events_BG*****/
.web_find_events_bg { width:100%; background:url(../images/find_events_bg.jpg) no-repeat; background-size:cover; height:700px; margin-top:-114px; }
.find_events_bg { display:flex; height:700px;}
.hp_main_search { width:500px; background:rgba(255,255,255,0.3); border-radius:50px; padding:6px 6px 6px 20px; }
.hp_main_search input[type="text"] { width:74%; font-size:20px; color:#FFF; background:transparent; border:0;  }
.hp_main_search input[type="text"]::-webkit-input-placeholder { color:#FFF; }
.hp_main_search input[type="text"]::-moz-placeholder { color:#FFF; }
.hp_main_search input[type="text"]:-ms-input-placeholder { color:#FFF; }
.hp_main_search input[type="text"]:-moz-placeholder { color:#FFF; }
.hp_main_search input[type="submit"] { width:24%; font-size:20px; font-weight:700; color:#FFF;  background:linear-gradient(90deg,#139cef,#00d1ff); border:0; border-radius:50px; padding:5px 15px; }

.filter_event_by { margin:30px 0; }
.filter_event_by h5 {}
.filter_event_by ul {}
.filter_event_by ul li { display:inline-block; margin:5px 2px; }
.filter_event_by ul li a { display:block; font-size:18px; font-weight:500; color:#858585; background:#eeeeee; padding:4px 20px; border-radius:50px;  }
.filter_event_by ul li a.active { color:#FFF; background:linear-gradient(90deg,#139cef,#00d1ff); }
.filter_event_by ul li a:hover { color:#FFF; background:linear-gradient(90deg,#00d1ff,#139cef); }
/*****Web_Find_Events_BG*****/

/*****Web_Main_Box*****/
.web_main_box { margin:-140px 0 30px 0; position:relative; }
.main_box { box-shadow:0 0 30px rgba(0,0,0,.1); background:#FFF; text-align:center; padding:10px 15px; border-radius:30px; }
.main_box img { margin:0 auto; }
.main_box h3 { margin:15px 0; }
.main_box p { font-size:18px; line-height:30px; color:#8f8f8f; margin:0; }
/*****Web_Main_Box*****/

/*****Web_Featured_Events*****/
.web_featured_events { width:100%; padding:100px 0 0 0; }

.event_common_tab { box-shadow:0 0 30px rgba(0,0,0,.1); background:#FFF; padding:0; border-radius:30px; overflow:hidden; margin:25px 0; -webkit-transition:all .9s ease; -moz-transition:all .9s ease; -o-transition:all .9s ease; -ms-transition:all .9s ease; transition:all .9s ease; position:relative;  }
.event_common_tab:hover { -webkit-backface-visibility:hidden; backface-visibility:hidden; -webkit-transform:translateZ(0) scale(1.02); -moz-transform:scale(1.02); -ms-transform:scale(1.02); -o-transform:translatZ(0) scale(1.02); transform:translatZ(0) scale(1.02); }
.event_common_tab h4 { font-size:24px; margin:15px 20px; }
.event_common_tab p { font-size:20px; color:#8f8f8f; font-weight:300; padding:0 20px;}
.event_common_tab img {}
.event_common_tab a.event_ct_btn { display:inline-block; font-size:18px; color:#FFF; font-weight:600; background:linear-gradient(90deg,#139cef,#00d1ff); padding:4px 15px; border-radius:30px; margin-left:20px; }

.event_ct_date { width:94px; height:94px; background:linear-gradient(90deg,#139cef,#00d1ff); text-align:center; border-radius:100px; margin-left:20px; margin-top:-50px; position:relative; z-index:9; padding:20px 0; }
.event_ct_date .ct_one { display:block; font-size:18px; color:#fff; font-weight:700; margin:0; line-height:26px; }
.event_ct_date .ct_two { display:block; font-size:16px; color:#fff; font-weight:400; }

.event_ct_bottom { border-top:1px solid #c5c5c5; margin:15px 20px; padding:15px 0; }
.event_ct_bottom label { font-size:20px; font-weight:800; margin:0; }
.event_ct_bottom label a { color:#000; }
.event_ct_bottom label a:hover { color:#139cef; }
.event_ct_bottom span.ct_price { float:right; font-size:20px; color:#0ab7f7; font-weight:800; }

.event_button { }
.event_button a { display:inline-block; border:1px solid #DDD; padding:16px 30px; border-radius:50px; margin:10px auto; }
.event_button img { display:inline-block; vertical-align:middle; padding-right:10px; }
.event_button span { display:inline-block; font-size:20px; color:#000; font-weight:800; vertical-align:middle; }

.event_pagination { text-align:center; }

.ep_number { display:inline-block; }
.ep_number ul { margin:0; }
.ep_number ul li { display:inline-block; margin:0 8px; }
.ep_number ul li a { display:block; width:40px; height:40px; background:#dddddd; font-size:18px; color:#969696; font-weight:700; border-radius:50px; padding:5px 0; }
.ep_number ul li a.active { color:#FFF; background:linear-gradient(90deg,#139cef,#00d1ff); }
.ep_number ul li a:hover { color:#FFF; background:linear-gradient(90deg,#00d1ff,#139cef); }

.ep_left_btn { display:inline-block;}
.ep_left_btn a { display:block; border:1px solid #DDD; padding:10px 25px; border-radius:50px; margin:10px auto; }
.ep_left_btn img { display:inline-block; vertical-align:middle; padding-left:10px; }
.ep_left_btn span { display:inline-block; font-size:20px; color:#000; font-weight:800; vertical-align:middle; }

.ep_right_btn { display:inline-block; }
.ep_right_btn a { display:block; border:1px solid #DDD; padding:10px 25px; border-radius:50px; margin:10px auto; }
.ep_right_btn img { display:inline-block; vertical-align:middle; padding-right:10px; }
.ep_right_btn span { display:inline-block; font-size:20px; color:#000; font-weight:800; vertical-align:middle; }
/*****Web_Featured_Events*****/

/*****Web_Video_Section*****/
.web_video_section { width:100%; margin:40px 0 60px 0; }
.video_section_bg { width:100%; background:url(../images/video_section_bg.jpg) no-repeat; background-size:cover; min-height:250px; border-radius:30px; padding:20px 30px; }
.video_section_text { margin:30px 0; }
.video_section_text h3 { font-size:40px; color:#FFF; }
.video_section_text p { font-size:20px; color:#FFF; }

.video_section_button {  margin:50px auto 0 auto; }
.video_section_button a { display:inline-block; border:1px solid #DDD; background:#FFF; padding:16px 30px; border-radius:50px; margin:10px auto; }
.video_section_button img { display:inline-block; vertical-align:middle; padding-right:10px; }
.video_section_button span { display:inline-block; font-size:20px; color:#000; font-weight:800; vertical-align:middle; }
/*****Web_Video_Section*****/

/*****Web_Footer*****/
.web_footer { padding:60px 0 30px; background:#191919; }

.footer_logo { display:inline-block; margin-bottom:20px; }
.footer_logo img.logo_white { display:block;  }
.footer_logo img.logo_white_glow { display:none;  }
.footer_logo:hover img.logo_white { display:none;  }
.footer_logo:hover img.logo_white_glow { display:block;  }

.footer_info {}

.footer_mail {}
.footer_mail label { display:block; font-size:22px; font-weight:600; color:#FFF; margin:0; }
.footer_mail a { font-size:20px; color:#858585; }

.footer_link { margin-top:10px; padding-top:10px; border-top:1px solid #606060; }
.footer_tab {  }
.footer_tab h3 { color:#fff; font-size:26px; margin-bottom:30px; font-weight:700; }
.footer_tab h3::after { content:''; position:absolute; background:linear-gradient(90deg,#139cef,#00d1ff); width:80px; height:6px; left:auto; display:block; border-radius:15px; margin-top:10px; }
.footer_tab.last h3::after { display:none; }
.footer_tab ul { }
.footer_tab ul li { display:block; margin:10px 0; }
.footer_tab ul li a { display:block; font-size:18px; color:#858585; padding:0 6px; }
.footer_tab ul li a:hover { color:rgba(255,255,255,0.8);}

.footer_social { margin-top:25px; }
.footer_social ul { }
.footer_social ul li { display:inline-block; margin:0 10px 0 0; }
.footer_social ul li a { display:block; font-size:20px; color:#fff; border-radius:10px; border:2px solid #fff; width:38px; height:38px; text-align:center; padding:4px 0; }
.footer_social ul li a:hover { background:linear-gradient(90deg,#00d1ff,#139cef); }

.genres_tab {}
.genres_tab a { display:inline-block; font-size:15px; font-weight:600; color:#818181; background:#3b3b3b; padding:0 15px; border-radius:50px; margin:5px 2px; font-weight:700; }
.genres_tab a.active { color:#FFF; background:linear-gradient(90deg,#139cef,#00d1ff); font-weight:700; }
.genres_tab a:hover { color:#FFF; background:linear-gradient(90deg,#00d1ff,#139cef); font-weight:700; }

.copyright { }
.copyright p { font-size:14px; color:#c4c4c4; margin:0; }
.socialsquared {}
.socialsquared p { font-size:20px; color:#FFF; }
/*****Web_Footer*****/

/*****Web_Login_BG*****/
.web_login_bg { width:100%; background:url(../images/homepage_slider1.jpg) no-repeat; background-size:cover; height:750px; margin-top:-114px; }

.login_register_box { padding-top:200px; }
.login_register_box .nav-tabs { border-bottom:0; }
.login_register_box .nav-tabs .nav-link { border:1px solid transparent; border-top-left-radius:30px; border-top-right-radius:30px; font-size:20px; padding:12px 30px !important; font-weight:700; color:#b1b1b1 !important; background-color:#DDD; border-color:#ffffff #ffffff #ffffff; font-weight:800; }
.login_register_box .nav-tabs .nav-link.nav-link-last { margin-left:-10px; }
.login_register_box .nav-tabs .nav-item:hover a::after{  display:none; }
.login_register_box .nav-tabs .nav-item.show .nav-link, .login_register_box .nav-tabs .nav-link.active { color:#363636 !important; background-color:#fff; border-color:#ffffff #ffffff #ffffff; z-index:999; position:relative; }
.login_register_box .tab-content { background:#FFF; padding:40px 30px; border-radius:0 30px 30px 30px; }

.hp_login {}
.register_bg { background:#FFF; border-radius:30px; padding:20px 30px 40px 30px; }

.hp_login_register h2 { margin-bottom:45px; }
.hp_login_register h2::after { content:''; position:absolute; background:linear-gradient(90deg,#139cef,#00d1ff); width:70px; height:7px; left:auto; display:block; border-radius:15px; margin:0 0 10px 0; }
.hp_login_regi_tab { margin:30px 0; }
.hp_login_register h4 { margin-bottom:30px; width:90%; font-weight:600; }
.hp_login_register h4::after { content:''; position:absolute; background:linear-gradient(90deg,#139cef,#00d1ff); width:70px; height:7px; left:auto; display:block; border-radius:15px; margin:10px 0; }
.hp_login_regi_tab label { display:block; margin:0; font-size:18px; color:#a9a9a9; font-weight:700; letter-spacing:1px; }
.hp_login_regi_tab input[type="text"] { width:100%; height:48px; padding:10px 16px; font-size:18px; background:#f1f1f1; color:#000; border:1px solid #c7c7c7; border-radius:60px; font-weight:500; }

.hp_login_regi_tab input::-webkit-input-placeholder { color:#c6c6c6; }
.hp_login_regi_tab input::-moz-placeholder { color:#c6c6c6; }
.hp_login_regi_tab input:-ms-input-placeholder { color:#c6c6c6; }
.hp_login_regi_tab input:-moz-placeholder { color:#c6c6c6; }

.hp_login_regi_tab p { font-size:20px; color:#c6c6c6; }

.hp_login_regi_check { margin:15px 0; }
.hp_login_regi_check input[type="radio"] { width:14px; height:14px; display:inline-block; vertical-align:middle; margin-right:10px; }
.hp_login_regi_check span { font-size:20px; color:#c7c7c7; display:inline-block; vertical-align:middle; }
.hp_login_regi_check span a { text-decoration:underline #d4f1fe; }

.hp_login_regi_button { text-align:center; margin:15px 0 0; }
.hp_login_regi_button a { display:inline-block; font-size:22px; color:#fff; letter-spacing:1px; font-weight:600; text-transform:capitalize; background:linear-gradient(90deg,#139cef,#00d1ff); padding:12px 15px; border-radius:40px; width:260px; }
.hp_login_regi_button a:hover { color:#FFF; background:linear-gradient(90deg,#00d1ff,#139cef); }
.nav-tabs-login { border-bottom:none; }
/*****Web_Login_BG*****/

/*****Artist_Landing*****/
.web_artist_landing_bg { width:100%; background:url(../images/find_events_bg.jpg) no-repeat; background-size:cover; height:600px; margin-top:-114px; }

.artist_landing_bg { margin-top:-370px; }
.hp_artist_landing_profile {border:10px solid #FFF;box-shadow:0 0 30px rgba(0,0,0,.1);}
.hp_artist_landing_profile a.alp_profile_edit {position:absolute;right:50px;top:20px;font-size:18px;color:#FFF;font-weight:600;border-bottom:1px solid #FFF;line-height:23px;}
.hp_artist_landing_profile img {width:100%;}

.hp_artist_landing_info { }
.hp_artist_landing_info a.alp_tag {font-size:17px;font-weight:700;color:#FFF;background:linear-gradient(90deg,#139cef,#00d1ff);padding:4px 15px;border-radius:50px;margin:0 0 15px 0;display:inline-block;}
.hp_artist_landing_info h2 {font-size:56px;color:#FFF;}
.hp_artist_landing_info p {font-size:20px;color:#FFF;line-height:30px;}
.hp_artist_landing_info a.alp_edit { font-size:18px; border-bottom:1px solid; display:inline-block; vertical-align:middle; }

.hp_al_social_btn { margin:20px 0; display:block; }
.hp_artist_landing_btn { display:inline-block; }
.hp_artist_landing_btn img { width:auto; height:auto; display:inline-block; padding-right:10px; }
.hp_artist_landing_btn a { background:rgba(255,255,255,0.25); font-size:18px; color:#FFF; margin-right:15px; padding:8px 25px; display:inline-block; border-radius:50px; }
.hp_artist_landing_btn a:hover { background:linear-gradient(90deg,#00d1ff,#139cef); }

.hp_artist_landing_social { display:inline-block;  }
.hp_artist_landing_social ul { margin:0; }
.hp_artist_landing_social ul li { display:inline-block; margin:0 8px 0 0; }
.hp_artist_landing_social ul li a { display:block; font-size:20px; color:#fff; border-radius:10px; border:2px solid #fff; width:38px; height:38px; text-align:center; padding:4px 0; }
.hp_artist_landing_social ul li a:hover { background:linear-gradient(90deg,#00d1ff,#139cef); }

.hp_artist_landing_icons { margin:90px 0 10px 0; }
.hp_artist_landing_icons ul { display:table; margin:0; width:100%; }
.hp_artist_landing_icons li { display:table-cell; list-style:none; margin:0 ; }

.event_video_tabs { margin:20px 0; }
.event_video_tab { box-shadow:0 0 30px rgba(0,0,0,.1); border-radius:30px; margin:30px 15px; overflow:hidden; }
.evt_video {}
.evt_video img {}
.evt_video a.evt_tag { position:absolute; top:50px; right:30px; font-size:16px; color:#FFF; font-weight:700; background:linear-gradient(90deg,#139cef,#00d1ff); padding:2px 20px; border-radius:40px; }
.evt_text { padding:20px 15px; }
.evt_text h4 {}
.evt_text p {}
.evt_text span.evt_date { display:block; border-top:1px solid #DDD; font-size:18px; color:#00c1fb; padding:10px 0 0 0; font-weight:500; }

.hp_al_bio { margin-top:50px; }
.hp_al_bio p { font-size:18px; line-height:30px; color:#8f8f8f; }
.hp_al_upcoming_event { margin-top:60px; border:1px solid #c2c2c2; border-radius:30px; padding:30px 20px; box-shadow:0 0 30px rgba(0,0,0,.1); }
.hp_al_upcoming_event h3 { border-bottom:1px solid #DDD; padding:0 0 10px 0; }

.al_upcoming_events_tabs { margin:20px 0 0; }
.al_upcoming_events_tab { border-bottom:1px solid #DDD; padding:10px 0 5px 0; }
.al_upcoming_events_tab img { } 
.al_upcoming_events_tab h4 { font-size:16px; font-weight:600; margin:0; }
.al_upcoming_events_tab p { font-size:16px; color:#00c1fb; margin:0; }

.al_ue_button { }
.al_ue_button a { display:inline-block; border:1px solid #DDD; padding:6px 15px; border-radius:50px; margin:0; }
.al_ue_button img { display:inline-block; vertical-align:middle; padding-right:10px; }
.al_ue_button span { display:inline-block; font-size:16px; color:#000; font-weight:700; vertical-align:middle; }
/*****Artist_Landing*****/

/*****All_Popup*****/
.modal-lg { max-width:900px; }
.modal-header { padding:0; border-bottom:0; }
.modal-header .close { font-size:40px; color:#c3c3c3; text-shadow:unset; opacity:1; line-height:unset; position:absolute; right:15px; top:10px; z-index:99; outline:none; }
.modal-content { border-radius:30px; }
.modal-body { padding:25px; }

.my_artist_profile_main {}
.my_artist_profile {}

.my_ap_title {}
.my_ap_title h2 { letter-spacing:1px; }

.my_ap_tab { margin:15px 0; }
.my_ap_tab input[type="text"], .my_ap_tab input[type="email"] { width:100%; background:#f0f0f0; border:0; height:56px; padding:6px 25px; border-radius:50px; font-size:18px; color:#000; line-height:16px; }

.my_ap_tab select { width:100%; background:#f0f0f0; border:0; height:56px; padding:0 25px; border-radius:50px; font-size:18px; color:#c3c3c5; }
.my_ap_tab textarea { width:100%; background:#f0f0f0; border:0; height:110px; padding:12px 25px; border-radius:20px; font-size:18px; color:#000; resize:none; }
.my_ap_tab textarea.biography { height:270px; }

.my_ap_tab input[type="file"] { height:0; overflow:hidden; width:0; display:none; }

.my_ap_tab input[type="file"] + label { background:#f0f0f0; border:none; border-radius:0; color:#c3c3c5; cursor:pointer; display:block; font-size:22px; font-weight:500; outline:none; padding:110px 25px; position:relative; -webkit-transition:all 0.3s; transition:all 0.3s; margin:0; text-align:center; }
.my_ap_tab input[type="file"] + label:hover { }

.my_ap_button { text-align:right; margin-top:86px; }
.my_ap_button a.btn_popup_save { font-size:22px; color:#fff; font-weight:600; text-transform:capitalize; background:linear-gradient(90deg,#139cef,#00d1ff); padding:12px 15px; border-radius:50px; display:inline-block; transition:0.9s; width:260px; text-align:center; }
.my_ap_button a.btn_popup_save:hover { background:linear-gradient(90deg,#00d1ff,#139cef); transition:9s; }

.my_ap_tab input::-webkit-input-placeholder { color:#c3c3c3; }
.my_ap_tab input::-moz-placeholder { color:#c3c3c3; }
.my_ap_tab input:-ms-input-placeholder { color:#c3c3c3; }
.my_ap_tab input:-moz-placeholder { color:#c3c3c3; }

.my_ap_tab select::-webkit-input-placeholder { color:#c3c3c3; }
.my_ap_tab select::-moz-placeholder { color:#c3c3c3; }
.my_ap_tab select:-ms-input-placeholder { color:#c3c3c3; }
.my_ap_tab select:-moz-placeholder { color:#c3c3c3; }

.my_ap_tab textarea::-webkit-input-placeholder { color:#c3c3c3; }
.my_ap_tab textarea::-moz-placeholder { color:#c3c3c3; }
.my_ap_tab textarea:-ms-input-placeholder { color:#c3c3c3; }
.my_ap_tab textarea:-moz-placeholder { color:#c3c3c3; }

.mp_viewer_account_main {}
.mp_viewer_account_main .modal-body { padding:0; }

.mp_viewer_account {}
.yo_bg { border-left:1px solid #b2b2b2; }
.yo_bg_one { padding:0 10px 30px 25px; }
.yo_bg_two { background:#f6f5f5; margin-left:-15px; padding:0 25px 30px 25px; }

.my_va_title { padding:20px 0 15px 0; }
.my_va_title h3 { font-size:22px; font-weight:400; color:#818181; letter-spacing:1px; }

.my_ap_head { text-align:center; margin-top:-66px; border-bottom:1px solid #b2b2b2; }
.my_ap_head img { margin:0 auto; }
.my_ap_head h2 { font-size:34px; text-transform:uppercase; color:#191919; margin:0; }
.my_ap_head p { font-size:24px; margin:0; color:#747474; }
.my_ap_head span.ct_line { display:inline-block; width:100px; height:7px; background:linear-gradient(90deg,#139cef,#00d1ff); border-radius:30px; }
.my_ap_head ul { margin:15px 0 20px 0; padding:0; }
.my_ap_head ul li { list-style:none; display:inline-block; vertical-align:middle; margin:0 10px; color:#747474; }
.my_ap_head ul li a { color:#818181; text-decoration:underline; }

.mp_va_tab { margin:0 0 20px 0; }
.mp_va_tab input[type="text"] { width:100%; height:48px; padding:10px 16px; font-size:18px; background:#f1f1f1; color:#000; border:1px solid #c7c7c7; border-radius:60px; font-weight:500; }
.mp_va_tab input::-webkit-input-placeholder { color:#c6c6c6; }
.mp_va_tab input::-moz-placeholder { color:#c6c6c6; }
.mp_va_tab input:-ms-input-placeholder { color:#c6c6c6; }
.mp_va_tab input:-moz-placeholder { color:#c6c6c6; }

.mp_va_check {margin:15px 0;border-top:1px solid #DDD;padding:15px 0;}
.mp_va_check input[type="radio"] { width:14px; height:14px; display:inline-block; vertical-align:middle; margin-right:10px; }
.mp_va_check span {font-size:18px;display:inline-block;vertical-align:middle;color:#c7c7c7;}

.mp_va_button {}
.mp_va_button a { text-align:center; font-size:23px; color:#fff; text-transform:capitalize; background:linear-gradient(90deg,#139cef,#00d1ff); padding:8px 35px; border-radius:50px; display:block; transition:0.9s; }
.mp_va_button a:hover { background:linear-gradient(90deg,#00d1ff,#139cef); transition:9s; }

.my_ap_your_order {}
.my_ap_your_order p { font-size:16px; color:#a4a4a4; margin:0; }
.my_ap_your_order ul { margin:0; }
.my_ap_your_order ul li { list-style:none; font-size:18px; color:#a4a4a4; } 
.my_ap_your_order ul li span { float:right; }
.my_ap_your_order ul li.total { color:#474747; }
.my_ap_your_order ul li.total span { color:#474747; }

.my_ap_your_isi_live { text-align:right; margin-top:90px; }
.my_ap_your_isi_live span { color:#dbdbdb; display:inline-block; vertical-align:middle; }
.my_ap_your_isi_live img { display:inline-block; vertical-align:middle; }
/*****All_Popup*****/

/*****Web_Our_Process*****/
.web_our_process {}
.our_process { width:76%; margin:20px auto; }
.our_process_tab { box-shadow:0 0 30px rgba(0,0,0,.1); background:#FFF; padding:15px 20px; border-radius:30px; margin:20px 20px; }
.our_process_tab span.number { position:absolute; font-size:70px; font-weight:800; color:#ececec; left:0; top:23px; z-index:-1; }
.our_pt_img { display:inline-block; width:15%; vertical-align:top; }
.our_pt_img img {}
.our_pt_text { display:inline-block; width:80%; vertical-align:top; }
.our_pt_text h4 { font-size:26px; margin:0 0 5px 0; }
.our_pt_text p { margin:0; font-size:18px; line-height:28px; }
/*****Web_Our_Process*****/

