*, html { margin:0; padding:0; outline:0 none; }
body { margin:0; padding:0; width:100%; font-size:16px; color:#000; line-height:30px; font-family:'Mukta', sans-serif; font-weight:400; background:#ffffff; letter-spacing:0; }
img { border:0 none; height:auto; max-width:100%; display:block; }
h1, h2, h3, h4, h5, h6 { font-family:'Mukta', sans-serif; color:#000; font-weight:800; }

a { text-decoration:none; color:#09b7f7; transition:0.5s; }
a:focus, a:hover { text-decoration:none; color:#09b7f7; transition:0.9s; }


/*****Common*****/
.common_title { width:100%; text-align:center; }
.common_title h2 { font-size:40px; line-height:50px; color:#000; text-transform:uppercase; margin:0; }
.common_title h3 { font-size:28px; line-height:38px; margin:0; }
.common_title p { font-size:20px; line-height:30px; margin:15px 0; }

.common_title .ct_line { display:inline-block; width:100px; height:7px; background:linear-gradient(90deg,#139cef,#00d1ff); border-radius:30px; }

.ct_left { text-align:left; }
.ct_white.common_title h2 { color:#FFF; }

.btn_common { font-size:13px; color:#fff; letter-spacing:3px; font-weight:400; text-transform:uppercase; background:linear-gradient(90deg,#139cef,#00d1ff); padding:10px 15px; border-radius:6px; transition:0.9s;  -webkit-transition:background 2s; transition:background 2s; }
.btn_common:hover { color:#FFF; background:linear-gradient(90deg,#00d1ff,#139cef); transition:0.9s; -webkit-transition:background 0.9s; transition:background 0.9s; }

.container { max-width:86%; }
.spacer { padding:15px;}
/*****Common*****/

/*****Web_Header*****/
.top_bar { background:linear-gradient(90deg,#139cef,#00d1ff); padding:6px 0; }
.top_bar_right { text-align:right; }
.top_bar_right ul { margin:0; }
.top_bar_right ul li { list-style:none; display:inline-block; border-right:2px solid #FFF; line-height:16px; }
.top_bar_right ul li a { font-size:18px; color:#FFF; padding:0 15px; font-weight:600; }
.top_bar_right ul li:last-child { border-right:0; }

.navbar { padding:10px 0; background-color:rgba(255, 255, 255, 0); }
.navbar.active { background-color:rgba(255, 255, 255, 1); box-shadow:0 0 20px 1px rgba(0,0,0,0.09); }
.navbar.active .nav-link { color:#000 !important; }
.nav-link { font-size:23px; padding:0 30px !important; font-weight:600; color:#FFF !important; }
.nav-item.active a { color:#FFF !important; }
.nav-item.active a::after { content:''; position:absolute; background:linear-gradient(90deg,#139cef,#00d1ff); width:30px; height:4px; left:auto; display:block; border-radius:15px; transition:0.9s; }
.nav-item:hover a::after { content:''; position:absolute; background:linear-gradient(90deg,#139cef,#00d1ff); width:30px; height:4px; left:auto; display:block; border-radius:15px; transition:0.9s; }
.nav-item a:hover::after { width:40px; transition:0.9s; }

.navbar-brand { padding:0; }
.navbar .navbar-brand img { height:94px; }
.navbar .navbar-brand img.logo_white { display:block; }
.navbar .navbar-brand img.logo_black { display:none; }
.navbar.active .navbar-brand img.logo_white { display:none; }
.navbar.active .navbar-brand img.logo_black { display:block; }

.navbar-toggler { padding:4px 8px;}
.navbar-light .navbar-toggler { outline:none; border-color:rgba(18,158,239,1); color:#FFF;  }
.navbar-light .navbar-toggler-icon { background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(18,158,239, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.head_button { display:inline-block; margin-left:20px;}
.head_button a.btn_hb_text { font-size:23px; color:#fff; text-transform:capitalize; background:linear-gradient(90deg,#139cef,#00d1ff); padding:8px 35px; border-radius:50px; display:inline-block; transition:0.9s; }
.head_button a.btn_hb_text:hover { background:linear-gradient(90deg,#00d1ff,#139cef); transition:9s; }
.head_button a.btn_hb_search { font-size:23px; color:#09b7f7; padding-left:15px; }
span.hp_line { position:absolute; left:-72px; background:rgba(3,3,3,0.4); top:12px; font-size:16px; color:#FFF; text-transform:capitalize; padding:2px 20px; border-radius:30px; }
/*****Web_Header*****/

/*****Web_Main_BG*****/
.web_main_bg { width:100%; background:url(../images/homepage_slider1.jpg) no-repeat; background-size:cover; height:100vh; margin-top:-114px; }

.slider_buttons {}
.slider_buttons img { width:auto; height:auto; display:inline-block; padding-right:10px; }
.slider_buttons a { background:rgba(255,255,255,0.25); font-size:20px; color:#FFF; margin-right:15px; padding:8px 25px; display:inline-block; border-radius:50px; }
.slider_buttons a:hover { background:linear-gradient(90deg,#00d1ff,#139cef); }

.main_bg { padding:140px 0 0 0; }

.hp_main_text {}
.hp_main_text h2 { font-size:60px; color:#FFF; font-weight:600; margin:0 0 20px 0; }
.hp_main_text h3 { font-size:36px; color:#FFF; font-weight:400; margin:0 0 20px 0; }
.hp_main_text p { font-size:18px; color:#FFF; line-height:30px; margin:20px 0; }
 
.hp_main_buttons {}
.hp_main_buttons img { width:auto; height:auto; display:inline-block; padding-right:10px; }
.hp_main_buttons a { background:rgba(255,255,255,0.25); font-size:20px; color:#FFF; margin-right:15px; padding:8px 25px; display:inline-block; border-radius:50px; }
.hp_main_buttons a:hover { background:linear-gradient(90deg,#00d1ff,#139cef); }

.blink_homeplay { color:#48e5ff; font-weight:700; text-shadow:0 0 5px #10d6ff, 0 0 7px #48e5ff; }

.hp_main_bottom { text-align:center; margin-top:50px;}
.hp_main_bottom a { display:inline-block; }
.hp_main_bottom img {}

.hp_main_nav { float:right; }
.hp_main_nav::after { content:''; position:absolute; background:linear-gradient(90deg,#626262,#8c8c8c); width:2px; height:240px; display:block; border-radius:15px; top:20px; text-align:center; margin-left:28px; }
.hp_main_nav ul { margin:0; position:relative; z-index:99; }
.hp_main_nav ul li { list-style:none; }
/*****Web_Main_BG*****/

/*****Web_Find_Events_BG*****/
.web_find_events_bg { width:100%; background:url(../images/find_events_bg.jpg) no-repeat; background-size:cover; height:700px; margin-top:-114px; }
.hp_main_search { width:500px; background:rgba(255,255,255,0.3); border-radius:50px; padding:10px 25px; }
.hp_main_search input[type="text"] { width:74%; font-size:18px; color:#FFF; background:transparent; border:0;  }
.hp_main_search input[type="text"]::-webkit-input-placeholder { color:#FFF; }
.hp_main_search input[type="text"]::-moz-placeholder { color:#FFF; }
.hp_main_search input[type="text"]:-ms-input-placeholder { color:#FFF; }
.hp_main_search input[type="text"]:-moz-placeholder { color:#FFF; }
.hp_main_search input[type="submit"] { width:24%; font-size:17px; font-weight:700; color:#FFF;  background:linear-gradient(90deg,#139cef,#00d1ff); border:0; border-radius:50px; padding:5px 15px; }

.filter_event_by { margin:30px 0; }
.filter_event_by h5 {}
.filter_event_by ul {}
.filter_event_by ul li { display:inline-block; margin:5px 2px; }
.filter_event_by ul li a { display:block; font-size:18px; font-weight:500; color:#858585; background:#eeeeee; padding:4px 20px; border-radius:50px;  }
.filter_event_by ul li a.active { color:#FFF; background:linear-gradient(90deg,#139cef,#00d1ff); }
.filter_event_by ul li a:hover { color:#FFF; background:linear-gradient(90deg,#00d1ff,#139cef); }
/*****Web_Find_Events_BG*****/

/*****Web_Main_Box*****/
.web_main_box { margin:-130px 0 0 0; position:relative; }
.main_box { box-shadow:0 0 30px rgba(0,0,0,.1); background:#FFF; text-align:center; padding:30px 15px; border-radius:30px; }
.main_box img { margin:0 auto; }
.main_box h3 { margin:15px 0; }
.main_box p { font-size:18px; line-height:30px; }
/*****Web_Main_Box*****/

/*****Web_Featured_Events*****/
.web_featured_events { width:100%; padding:100px 0 0 0; }

.event_common_tab { box-shadow:0 0 30px rgba(0,0,0,.1); background:#FFF; padding:0; border-radius:30px; overflow:hidden; margin:25px 0; -webkit-transition:all .9s ease; -moz-transition:all .9s ease; -o-transition:all .9s ease; -ms-transition:all .9s ease; transition:all .9s ease; position:relative;  }
.event_common_tab:hover { -webkit-backface-visibility:hidden; backface-visibility:hidden; -webkit-transform:translateZ(0) scale(1.02); -moz-transform:scale(1.02); -ms-transform:scale(1.02); -o-transform:translatZ(0) scale(1.02); transform:translatZ(0) scale(1.02); }
.event_common_tab h4 { font-size:24px; margin:15px 20px; }
.event_common_tab p { font-size:20px; color:#8f8f8f; font-weight:300; padding:0 20px;}
.event_common_tab img {}
.event_common_tab a.event_ct_btn { display:inline-block; font-size:18px; color:#FFF; font-weight:600; background:linear-gradient(90deg,#139cef,#00d1ff); padding:4px 15px; border-radius:30px; margin-left:20px; }

.event_ct_date { width:94px; height:94px; background:linear-gradient(90deg,#139cef,#00d1ff); text-align:center; border-radius:100px; margin-left:20px; margin-top:-50px; position:relative; z-index:9; padding:20px 0; }
.event_ct_date .ct_one { display:block; font-size:18px; color:#fff; font-weight:700; margin:0; line-height:26px; }
.event_ct_date .ct_two { display:block; font-size:16px; color:#fff; font-weight:400; }

.event_ct_bottom { border-top:1px solid #c5c5c5; margin:15px 20px; padding:15px 0; }
.event_ct_bottom label { font-size:20px; font-weight:800; margin:0; }
.event_ct_bottom span.ct_price { float:right; font-size:20px; color:#0ab7f7; font-weight:800; }

.event_button { }
.event_button a { display:inline-block; border:1px solid #DDD; padding:16px 30px; border-radius:50px; margin:10px auto; }
.event_button img { display:inline-block; vertical-align:middle; padding-right:10px; }
.event_button span { display:inline-block; font-size:20px; color:#000; font-weight:800; vertical-align:middle; }

.event_pagination { text-align:center; }

.ep_number { display:inline-block; }
.ep_number ul { margin:0; }
.ep_number ul li { display:inline-block; margin:0 8px; }
.ep_number ul li a { display:block; width:40px; height:40px; background:#dddddd; font-size:18px; color:#969696; font-weight:700; border-radius:50px; padding:5px 0; }
.ep_number ul li a.active { color:#FFF; background:linear-gradient(90deg,#139cef,#00d1ff); }
.ep_number ul li a:hover { color:#FFF; background:linear-gradient(90deg,#00d1ff,#139cef); }

.ep_left_btn { display:inline-block;}
.ep_left_btn a { display:block; border:1px solid #DDD; padding:10px 25px; border-radius:50px; margin:10px auto; }
.ep_left_btn img { display:inline-block; vertical-align:middle; padding-left:10px; }
.ep_left_btn span { display:inline-block; font-size:20px; color:#000; font-weight:800; vertical-align:middle; }

.ep_right_btn { display:inline-block; }
.ep_right_btn a { display:block; border:1px solid #DDD; padding:10px 25px; border-radius:50px; margin:10px auto; }
.ep_right_btn img { display:inline-block; vertical-align:middle; padding-right:10px; }
.ep_right_btn span { display:inline-block; font-size:20px; color:#000; font-weight:800; vertical-align:middle; }
/*****Web_Featured_Events*****/

/*****Web_Video_Section*****/
.web_video_section { width:100%; margin:40px 0 60px 0; }
.video_section_bg { width:100%; background:url(../images/video_section_bg.jpg) no-repeat; background-size:cover; min-height:250px; border-radius:30px; padding:20px 30px; }
.video_section_text { margin:30px 0; }
.video_section_text h3 { font-size:40px; color:#FFF; }
.video_section_text p { font-size:20px; color:#FFF; }

.video_section_button {  margin:50px auto 0 auto; }
.video_section_button a { display:inline-block; border:1px solid #DDD; background:#FFF; padding:16px 30px; border-radius:50px; margin:10px auto; }
.video_section_button img { display:inline-block; vertical-align:middle; padding-right:10px; }
.video_section_button span { display:inline-block; font-size:20px; color:#000; font-weight:800; vertical-align:middle; }
/*****Web_Video_Section*****/

/*****Web_Footer*****/
.web_footer { padding:60px 0 30px; background:#191919; }

.footer_logo { display:inline-block; margin-bottom:20px; }
.footer_info {}

.footer_mail {}
.footer_mail label { display:block; font-size:24px; font-weight:600; color:#FFF; margin:0; }
.footer_mail a { font-size:22px; color:#858585; }

.footer_link { margin-top:10px; padding-top:10px; border-top:1px solid #606060; }
.footer_tab {  }
.footer_tab h3 { color:#fff; font-size:26px; margin-bottom:30px; }
.footer_tab h3::after { content:''; position:absolute; background:linear-gradient(90deg,#139cef,#00d1ff); width:80px; height:6px; left:auto; display:block; border-radius:15px; margin-top:10px; }
.footer_tab ul { }
.footer_tab ul li { display:block; margin:10px 0; }
.footer_tab ul li a { display:block; font-size:20px; color:#858585; padding:0 6px; }
.footer_tab ul li a:hover { color:rgba(255,255,255,0.8);}

.footer_social { margin-top:25px; }
.footer_social ul { }
.footer_social ul li { display:inline-block; margin:0 15px 0 0; }
.footer_social ul li a { display:block; font-size:18px; color:#fff; border-radius:10px; border:2px solid #fff; width:38px; height:38px; text-align:center; padding:4px 0; }
.footer_social ul li a:hover { background:linear-gradient(90deg,#00d1ff,#139cef); }

.genres_tab {}
.genres_tab a { display:inline-block; font-size:17px; font-weight:700; color:#FFF; background:#3b3b3b; padding:4px 15px; border-radius:50px; margin:5px 2px; }
.genres_tab a.active { background:linear-gradient(90deg,#139cef,#00d1ff); }
.genres_tab a:hover { background:linear-gradient(90deg,#00d1ff,#139cef); }

.copyright { }
.copyright p { font-size:14px; color:#c4c4c4; margin:0; }
.socialsquared {}
.socialsquared p { font-size:20px; color:#FFF; }
/*****Web_Footer*****/

/*****Web_Login_BG*****/
.web_login_bg { width:100%; background:url(../images/homepage_slider1.jpg) no-repeat; background-size:cover; height:100vh; margin-top:-114px; }

.login_register_box { padding-top:200px; }
.login_register_box .nav-tabs { border-bottom:0; }
.login_register_box .nav-tabs .nav-link { border:1px solid transparent; border-top-left-radius:30px; border-top-right-radius:30px; font-size:20px; padding:12px 30px !important; font-weight:700; }
.login_register_box .nav-tabs .nav-link { color:#495057 !important; background-color:#ddd; border-color:#ffffff #ffffff #ffffff; }
.login_register_box .nav-tabs .nav-link.nav-link-last { margin-left:-10px; }
.login_register_box .nav-tabs .nav-item.show .nav-link, .login_register_box .nav-tabs .nav-link.active { color:#495057 !important; background-color:#fff; border-color:#ffffff #ffffff #ffffff; z-index:999; position:relative; }
.login_register_box .tab-content { background:#FFF; padding:40px 30px; border-radius:0 30px 30px 30px; }

.hp_login {}
.register_bg { background:#FFF; border-radius:30px; padding:40px 30px; }

.hp_login_register h4 { margin-bottom:30px; }
.hp_login_register h4::after { content:''; position:absolute; background:linear-gradient(90deg,#139cef,#00d1ff); width:70px; height:7px; left:auto; display:block; border-radius:15px; margin:10px 0; }
.hp_login_regi_tab { margin:15px 0; }
.hp_login_regi_tab label { display:block; margin:0; font-size:18px; color:#a9a9a9; font-weight:700; letter-spacing:1px; }
.hp_login_regi_tab input[type="text"] { width:100%; height:48px; padding:10px 16px; font-size:18px; background:#f1f1f1; color:#000; border:1px solid #c7c7c7; border-radius:60px; font-weight:700; }
.hp_login_regi_tab p { font-size:20px; }

.hp_login_regi_check { margin:15px 0; }
.hp_login_regi_check input[type="radio"] { width:14px; height:14px; display:inline-block; vertical-align:middle; margin-right:10px; }
.hp_login_regi_check span { font-size:20px; display:inline-block; vertical-align:middle; }

.hp_login_regi_button { text-align:center; margin:15px 0 0; }
.hp_login_regi_button a { display:inline-block; font-size:18px; color:#fff; letter-spacing:3px; font-weight:400; text-transform:uppercase; background:linear-gradient(90deg,#139cef,#00d1ff); padding:10px 45px; border-radius:40px; }
.hp_login_regi_button a:hover { color:#FFF; background:linear-gradient(90deg,#00d1ff,#139cef); }
.nav-tabs-login { border-bottom:none; }
/*****Web_Login_BG*****/

/*****Artist_Landing*****/
.web_artist_landing_bg { width:100%; background:url(../images/find_events_bg.jpg) no-repeat; background-size:cover; height:700px; margin-top:-114px; }
.hp_artist_landing_profile { }
.hp_artist_landing_profile a.alp_profile_edit { }
.hp_artist_landing_profile img { }

.hp_artist_landing_info { }
.hp_artist_landing_info a.alp_tag { }
.hp_artist_landing_info h2 { }
.hp_artist_landing_info p { }

.hp_artist_landing_btn {}
.hp_artist_landing_btn img { width:auto; height:auto; display:inline-block; padding-right:10px; }
.hp_artist_landing_btn a { background:rgba(255,255,255,0.25); font-size:20px; color:#FFF; margin-right:15px; padding:8px 25px; display:inline-block; border-radius:50px; }
.hp_artist_landing_btn a:hover { background:linear-gradient(90deg,#00d1ff,#139cef); }

.hp_artist_landing_social { }
.hp_artist_landing_social ul { }
.hp_artist_landing_social ul li { display:inline-block; margin:0 15px 0 0; }
.hp_artist_landing_social ul li a { display:block; font-size:18px; color:#fff; border-radius:10px; border:2px solid #fff; width:38px; height:38px; text-align:center; padding:4px 0; }
.hp_artist_landing_social ul li a:hover { background:linear-gradient(90deg,#00d1ff,#139cef); }



.event_video_tabs { margin:20px 0; }
.event_video_tab { box-shadow:0 0 30px rgba(0,0,0,.1); border-radius:30px; margin:30px 15px; overflow:hidden; }
.evt_video {}
.evt_video img {}
.evt_video a.evt_tag { position:absolute; top:50px; right:30px; font-size:16px; color:#FFF; font-weight:700; background:linear-gradient(90deg,#139cef,#00d1ff); padding:2px 20px; border-radius:40px; }
.evt_text { padding:20px 15px; }
.evt_text h4 {}
.evt_text p {}
.evt_text span.evt_date { display:block; border-top:1px solid #DDD; font-size:18px; color:#129ff0; padding:10px 0 0 0; font-weight:500;}
/*****Artist_Landing*****/

